<div (click)="contactMelissa()" class="contact-area">
    <div>
        <div class="site-logo">
            <img width="45" src="/assets/logo.jpg">
        </div>
        <div class="contact-text">
            <div>
                <div>Crafty By Melissa</div>
                <div class="contact-subtitle">
                <fa-icon [icon]="envelopeIcon"></fa-icon> 
                <fa-icon [icon]="phoneIcon"></fa-icon> 
                contact melissa
                </div>
            </div>
        </div>
    </div>
</div>