fa-icon {
    color:#FFF;
    margin: 1px
}

.contact-area {
    cursor: pointer;
    display: inline-block;
}

.contact-area > div {
    display: table-row;
}

.site-logo {
    display: table-cell;
    vertical-align: middle;
}

.contact-text {
    display: table-cell;
    vertical-align: middle;

}

.contact-text > div {
    display: inline-block;
}

.contact-subtitle {
    font-size: 14px;
}

.contact-clicked.contact-details {
    opacity: 1;
    transition: 2s;
    height: 68px; 
}

.contact-details {
   display: inline-block; 
   padding: 4px;
   opacity: 0;
   margin-left: 5px;
}

@media screen and (max-width: 780px) {
    .contact-details {
        display: block;
        opacity: 0;
        height: 0px;
    }
}
