.gift {
    margin: 1px;
    height: 342px;;
    max-height: 342px;
    overflow: auto;
}

.gift-list {

}

.gift-title {
    width:100%;
    background-color:#fff;
    position: absolute;
    opacity: .8;
}

.gift-list-container {
    margin-top: 90px;
    margin-bottom: 60px;
}

img {
    cursor: pointer;
}

video {
    cursor: pointer;
}

.social-card {
    height: auto;
    max-width: 100%;
    width: 100%;
    position: relative;
    min-height: 250px;
}

.products {
    /* display: flex */

}

.product {
    margin: 1px;
    height: 342px;;
    max-height: 342px;
    overflow: auto;

}

.product .title {
    position: absolute;
    background-color: #fff;
    opacity: .8;
    width: 100%;
}

.product .image {
    /* object-fit: scale-down; */
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}