.container-fluid{
    background-color:aliceblue;
}

.gift {
    background-color:aliceblue;
    float:left;
}

.gift-list {
    width: 300px;
    float:left;
}

.gift-title {
    width:300px;
    background-color:aliceblue;
    position: absolute;
    opacity: .7;
}